<%-include("partials/header") %>
    <% if(Array.isArray(result) && Array.length > 0) { %>
        <div id="answerlist">
            <h1>Svar mottatt for <%=date%>. Desember</h1>
            <%for(item of result) {%>
                <div class="answer">
                    <h2><%=item.epost%></h2>
                    <p><%=item.svar%></p>
                </div>
                
            <%}%>
        </div>
    <%}%>
<%-include("partials/footer") %>